@import "/node_modules/toastify-js/src/toastify.css";


h1{
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: green;
    padding-bottom: 0%;
    margin-bottom: 10px;
    border-color: #35359c;
}

html,
body{
    background:var(--default);

}



:root{
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}
#keyboard{
    position:static;
    display: grid;
    place-items:center;

}

#game {
    position:static;
    display: grid;
    place-items: center;
    width: 100%;
    height: 450px;
}

.grid{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}

.keyboard1{
    position:relative;
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(10, auto);
    
}

.keyboard2{
    display: grid;
    grid-template-columns: repeat(9, auto);
}

.keyboard3{
  
    display: grid;
    
    grid-template-columns: repeat(9, auto);
}


.enterkey.keyboard3{
    width: 50px;
    height: 70px;
    border: 2px solid var(--empty);
    margin:2px;
    background-color: rgb(125, 124, 124);
    color: white;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(1, auto);
    place-items:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.backspace.keyboard3:after{
    width: 50px;
    height: 70px;
    border: 2px solid var(--empty);
    margin:2px;
    background-color: rgb(125, 124, 124);
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 5px;
    content: "\01F8A0";
}

.key{
    width: 30px;
    height: 70px;
    border: 2px solid var(--empty);
    margin:2px;
    background-color: rgb(125, 124, 124);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1 rem;
    border-radius: 5px;
}

.box{
    
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2.4rem;
    border-radius: 10px;
}

.textWhite{
    font-family: Arial, Helvetica, sans-serif;
}

.box.empty{
    background: var(--empty);
}


.box.wrong{
    background: var(--wrong);
}


.box.right{
    background: var(--right);
}

.key.empty{
    background: var(--empty);
}


.key.wrong{
    background: var(--wrong);
}


.key.right{
    background: var(--right);
}

.errors{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 60px;
    color:green;
    font-family: sans-serif;
    -webkit-animation: fade 3s linear;
    animation: fade 3s linear;
    

    /* cursor: pointer; */
}

  
  /* Popup arrow */
  .errors.show{
    visibility: hidden;
  }
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fade {
    0%,100% {opacity: 0;}
    1% {opacity: 1;}
  }
  
  @keyframes fade {
    0%,100% {opacity: 0;}
    1% {opacity: 1;}
  }

  @-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
  } 

/* head{
    width: 60px;
    height: 60px;
}

body{background-color: #212825;}

h1{
    size: 300%;
    color: rgb(255, 255, 255);
    background-color: #212825;
    text-align: center;
    
}

.ui{
    position:absolute;
    top:200px;
    width: 60;
    height: 60;
    
}

.ui.zero{
    left:580px;
}

.ui.one{
    left: 650px;
   
}

.ui.two{
    left: 720px;
    
}

.ui.three{
    left: 790px;
   
}

.ui.four{
    left: 860px;
   
}

input[type="text"]{
    width: 60px;
    height: 60px;
    font-size: 300%;
    font-family: 'Times New Roman';
    background-color: grey;
} */